/* index css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration:none;
    color:#000;
}

#saludo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(184, 230, 255);
}
#saludo p {
    font-size:36px;
    color: rgb(58, 58, 58);
    text-align: center;
    margin: 20% auto 10% auto;
    align-self: center;
}

header {
    text-align:left;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent:50px;
    background-color: rgb(184, 230, 255);
    padding:0;
    color:rgb(58, 58, 58);
}
header h1 {
    padding:15px;
    margin:2px;
    color:inherit;
    font-family: inherit;
    font-size:32px;
    font-weight: 500;
    display: inline-flex;
    display: -webkit-inline-flex;
}

nav {
    text-align:left;
    padding:2px;
    width:auto;
    margin-top: 10px;
}
nav ul li {
    display:inline-block;
    margin:0;
}
nav ul li a {
    /*background-color: rgb(48, 123, 161);*/
    background-color: #07C;
    text-decoration:none;
    color:#FFF;
    text-align: center;
    margin: auto;
    font-size: 14px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: rgb(9, 198, 255); */
}

div#bar-pref {
    padding:10px;
    background-color: rgb(184, 230, 255);
    color:rgb(58, 58, 58);
}

div#menu_open {
    margin:auto;
    text-align:center;
    margin-top:60px;
}
input#menu-button {
    text-align:center;
    padding:20px;
    width:150px;
    height: 150px;
    color:#FFF;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:0;
    border-radius: 100%;
    background-color: #07C;
    box-shadow: 0 0 50px #678;
    cursor:pointer;
    font-size: 16px;
    outline: none;
    /*animation: crazyborder 2s linear infinite;*/
}
input#menu-button.stage2 {
    height: auto;
    border-radius: 30px;
    animation:none;
}

@keyframes crazyborder {
    0% {
        border-top: 3.5px solid #358;
        border-right:3.5px solid #423;
        border-bottom:3.5px solid #3e9;
        border-left:3.5px solid #e24;
    }
    25% {
        border-right: 3.5px solid #358;
        border-bottom:3.5px solid #423;
        border-left:3.5px solid #3e9;
        border-top:3.5px solid #e24;
    }
    50%{
        border-bottom: 3.5px solid #358;
        border-left:3.5px solid #423;
        border-top:3.5px solid #3e9;
        border-right:3.5px solid #e24;
    }
    75% {
        border-left: 3.5px solid #358;
        border-top:3.5px solid #423;
        border-right:3.5px solid #3e9;
        border-bottom:3.5px solid #e24;
    }
    100% {
        border-top: 3.5px solid #358;
        border-right:3.5px solid #423;
        border-bottom:3.5px solid #3e9;
        border-left:3.5px solid #e24;
    }
}

#menu-button:hover {
    background-color: rgb(1, 95, 161);
}
#menu-frame {
    width:100%;
    height:650px;
    border: 1px solid #07C;
    margin:auto;
}

.hideable, #menu_open {
    display:none;
}

footer {
    position:absolute;
    bottom:0px;
    margin:auto;
    background-color:green;
    width:100%;
    color:#FFF;
    text-align:center;
}