/* index css */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
:root {
    font-size: 62.5%;
    --bg-saludo: rgb(235, 235, 235);
    --color-yellow: #edff4f;
    --color-black: #1f1f1f;
    --color-light: #FFF;
}

.saludo-container {
    font-size: 3.6rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 100vh;
    background-color: var(--bg-saludo);
}

.Navbar {
    padding: .5rem 6rem;
}
.Navbar__Cart {
    font-size: 1.8rem;
}

#Root {
    background-color: var(--color-black);
    color: var(--color-light);
    min-height: 100vh;
}

.MenuHeader {
    width: 100%;
    text-align: center;
    padding: 1rem 4rem;
}
.MenuHeader h1 {
    font-size: 3.8rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 300;
}

.Category {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: 4rem;
    justify-content: center;
}
.Category__GridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .2rem solid var(--color-yellow);
    border-radius: .5rem;
    cursor: pointer;
}
.Category__GridItem img {
    max-height: 20rem;
    max-width: 100%;
}
.Category__GridItem figcaption {
    font-size: 2rem;
    padding: 1.5rem 2rem;
}

.Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.Menu__Content {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
    width: 100%;
    min-height: 80rem;
}
.Menu__Actions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 6.8rem;
}
.Menu__Actions button {
    background-color: var(--color-yellow);
    color: var(--color-black);
    border: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 1.5rem;
}
.MenuContent__Item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    min-height: 45rem;
    max-height: 50rem;
    border: .2rem solid var(--color-yellow);
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}
.MenuContent__Item figure {
    padding: 1.5rem;
    align-self: center;
}
.MenuContent__Item figcaption {
    text-align: center;
}
.MenuContent__Item img {
    max-width: 100%;
    max-height: 20rem;
    border-radius: .5rem;
}
.MenuContent__Descripcion {
    min-height: 8rem;
    max-height: 10rem;
    padding: .5rem 1rem;
    margin-bottom: 1.8rem;
    overflow-y: auto;
}
.MenuContent__Descripcion::-webkit-scrollbar {
    width: .2rem;
}
.MenuContent__Descripcion::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .2rem rgba(199, 199, 199, 0.3);
}
.MenuContent__Descripcion::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: .1rem solid slategrey;
}
.MenuContent__Precio {
    padding: 1rem;
}
.MenuContent__Actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;
}
.MenuContent__Actions div {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.MenuContent__Actions button {
    border: 0;
    padding: .5rem 1rem;
    width: 100%;
    border-radius: .4rem;
    background-color: var(--color-yellow);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
}
.MenuContent__Actions button.ClearCounter {
    grid-column: 1 / 4;
}


.do-vanish {
    animation-name: vanish;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hidden {
    display: none;
}

@keyframes vanish {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}